header {
  background: #E0E0E0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  padding: 15px 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.avatar * {
  vertical-align: middle;
}

.logo {
  cursor: pointer;
}

.boosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.boosts > button {
  border: 2px solid #2F80ED;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  background: transparent;
  /*padding: 25px 0;*/
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  /*color: white;*/
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  /*box-shadow: 1px 1px 44px 8px #d5960f;*/
  -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.half-length {
  font-family: Baloo;
  font-style: normal;
  font-size: 22px;
  align-items: center;
  letter-spacing: 0.01em;
  color: #2F80ED;
  font-weight: bold;
  background: transparent;
}

.correct-sector.active {
  background: #2F80ED;
}

.bonus-name {
  max-width: 150px;
  color: #2F80ED;
  font-weight: bold;
}

.boosts svg {
  vertical-align: middle;
  transition: .3s;
}

.boosts svg path{
  fill: #2F80ED;
  /*background: #2F80ED;*/
}

.boosts > button:hover {
  background: #2F80ED;
  color: white;
}

.boosts > button:hover svg path{
  fill: white;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.9);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.9);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.9);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0.1);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.boosts > button:disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-animation: none;
  animation: none;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: -9px;
  left: 110px;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-weight: normal;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 15%;
  left: -10px;
  border-right: solid 25px rgb(85, 85, 85);
  border-bottom: solid 20px transparent;
  border-top: solid 20px transparent;
}

/*.boosts > button:hover {*/
  /*background: #F8B003;*/
  /*color: black;*/
/*}*/

.boosts > button:disabled:hover {
  background: transparent;
  color: #2F80ED;
}

.boosts > button:disabled:hover svg path{
  fill: #2F80ED;
}

.boosts > button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
