footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 12px;
  background: transparent;
  width: 100%;
  font-family: Avenir;
  font-size: 14px;
  line-height: 23px;
}

/*span {*/
  /*font-weight: bold;*/
  /*color: #F8B003;*/
/*}*/
