.game-board {
  width: 50%;
  /*max-height: 100%;*/
  max-height: calc(100vh - 70px);
  overflow: hidden;
}

.pre-game {
  height: 100%;
  width: 100%;
  position: relative;
}

.view-info {
  position: absolute;
  color: white;
  display: flex;
}
.view-info > div {
  font-family: SF Pro Text;
  margin: 25px 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}
.host-block {
  width: 100%;
  position: relative;
}
.host-block.small {
  width: 35%;
}

.host-block.small .view-info {display: none}
.host-block.big .view-info {display: flex}

.host-block.big {
  width: 100%;
  height: 100%;
}

.board-info.small {
  height: 280px;
}

.board-info.big {
  height: 100%;
}

.board-info > div {
  /*display: inline-block;*/
  /*height: 100%;*/
}

.question-block {
  width: 65%;
  vertical-align: top;
  text-align: center;
  position: relative;
  min-height: 155px;
  background: #145BBA;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.view {
  justify-content: space-between;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  align-items: center;
  text-align: right;
  color: white;
}

.viewers {
  align-items: center;
  justify-content: center;
}

.viewers p {
  margin: 0;
  margin-left: 5px;
}

.timer {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right: 10px;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: Baloo;
  font-size: 54px;
  line-height: 40px;
  color: #6FCF97;
  font-weight: bold;
  margin: 25px 0;
}

.points, .place {
  margin-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chat.inactive {
  display: none;
}

.end-game {
  /*background: #0b0a0ed4;*/
  border-top: 1px solid white;
  background: url("./../../assets/img/final.svg");
  background-size: cover;
  height: 100%;
}

.map.inactive {
  display: none;
}

#map {
  height: calc(100vh - 350px);
  width: 100%;
}

.chat {
  height: calc(100vh - 70px);
  width: 50%;
}
