.game-board {
  width: 50%;
  max-height: 100%;
}

.pre-game {
  height: 100%;
  width: 100%;
}

.host-block.small {
  width: 315px;
}

.host-block.big {
  width: 100%;
  height: 100%;
}

.board-info {
  /*height: 100%;*/
}

.board-info > div {
  display: inline-block;
  /*height: 100%;*/
}

.question-block {
  width: 700px;
  vertical-align: top;
  text-align: center;
  position: relative;
  min-height: 155px;
  margin: 20px 0;
}

.timer {
  position: absolute;
  bottom: 0;
  right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.points {
  position: absolute;
  bottom: 0;
  left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chat.inactive {
  display: none;
}

.end-game {
  background: #0b0a0ed4;
  border-top: 1px solid white;
}

.map.inactive {
  display: none;
}

#map {
  height: 300px;
  width: 50%;
}

.chat {
  width: 50%;
}
