<div class="container">

<div class="detailBox">
  <!--<div class="titleBox">-->
    <!--<label>Players Chat</label>-->
  <!--</div>-->
  <div class="actionBox">
    <ul class="commentList">
      <li *ngFor="let comment of comments">
        <div class="commenterName">
          {{comment.name}}:
        </div>
        <div class="commentText">
          <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.date}}</span>
        </div>
      </li>
    </ul>
    <form novalidate class="form-inline" name="commentForm">
      <div class="form-group">
        <input class="form-control" [formControl]="comment" type="text" placeholder="Text message" (keydown)="onEnter($event)" />
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="button" (click)="addComment($event)" [disabled]="round == undefined">Send</button>
      </div>
    </form>
  </div>
</div>

</div>
