.modal-body, .modal-footer {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
p {
  margin-bottom: 0;
}
.modal-body {
  padding: 40px 20px;
}

.modal-footer {
  padding: 0;
}
.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
