@import "https://unpkg.com/leaflet@1.5.1/dist/leaflet.css";

@font-face{

  font-family: 'SF Pro Text';

  src: url('./assets/fonts/SF-Pro-Text-Regular.otf');

  src: url('./assets/fonts/SF-Pro-Text-Regular.otf?iefix') format('otf'),

  url('./assets/fonts/SFProText-Regular.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}

@font-face{

  font-family: 'SF Pro Display';

  src: url('./assets/fonts/SF-Pro-Display-Regular.otf');

  src: url('./assets/fonts/SF-Pro-Display-Regular.otf?iefix') format('otf'),

  url('./assets/fonts/SFProDisplay-Regular.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}

@font-face{

  font-family: 'SF UI Display';

  src: url('./assets/fonts/SFUIDisplay-Regular.eot');

  src: url('./assets/fonts/SFUIDisplay-Regular.eot?iefix') format('eot'),

  url('./assets/fonts/SFUIDisplay-Regular.woff') format('woff'),

  url('./assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;

}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #f3f1f1!important;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0;
}

p {
  text-align: left;
}

.flex {
  display: flex;
}

button {
  transition: .3s;
  cursor: pointer;
  /*font-size: 16px;*/
  /*width: 150px;*/
  /*padding: 10px 0;*/
  /*text-align: center;*/
  /*background: #F8B003;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*margin: 10px 0;*/
}

img.logo {
  width: 100px;
}

img.avatar {
  width: 30px;
  vertical-align: baseline;
}

div.container::before, div.container::after {
  display: none;
}

div.container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding: 0;
}

div.trembivia-container {
  max-width: 1800px;
  margin: auto;
  padding: 20px;
}

.leaflet-container {
  background: rgba(11, 10, 14, 0.83);
}
