/* You can add global styles to this file, and also import other style files */
@import "https://unpkg.com/leaflet@1.5.1/dist/leaflet.css";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #f3f1f1!important;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0;
}

.flex {
  display: flex;
}

button {
  transition: .3s;
  cursor: pointer;
  /*font-size: 16px;*/
  /*width: 150px;*/
  /*padding: 10px 0;*/
  /*text-align: center;*/
  /*background: #F8B003;*/
  /*border: none;*/
  /*cursor: pointer;*/
  /*margin: 10px 0;*/
}

img.logo {
  width: 100px;
}

img.avatar {
  width: 30px;
  vertical-align: baseline;
}

div.container::before, div.container::after {
  display: none;
}

div.container {
  max-width: 100%;
  margin: auto;
}

div.trembivia-container {
  padding: 20px;
}

.leaflet-container {
  background: rgba(11, 10, 14, 0.83);
}
